<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Interface</title>
</head>
<body>
    <h1>IoT application web</h1>
    <h3>Control</h3>
    <form method="post" action="/">
        <input type="submit" value="Sensor On" name="action1"/>
        <input type="submit" value="Sensor Off" name="action2" />
        <input type="submit" value="Status" name="action3" />
        <input type="submit" value="Log Check" name="action4" />
        <input type="submit" value="Log download" name="action5" />
        <input type="submit" value="Exit" name="action6" />
    </form>
</body>
</html>